<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.2.1" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net461" />
  <package id="EntityFramework.Firebird" version="5.7.0" targetFramework="net461" />
  <package id="FirebirdSql.Data.FirebirdClient" version="5.7.0" targetFramework="net461" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Ninject" version="3.3.4" targetFramework="net461" />
  <package id="System.Collections.NonGeneric" version="4.0.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.ComponentModel.Primitives" version="4.1.0" targetFramework="net461" />
  <package id="System.ComponentModel.TypeConverter" version="4.1.0" targetFramework="net461" />
  <package id="System.Data.Common" version="4.1.0" targetFramework="net461" />
  <package id="System.Diagnostics.Contracts" version="4.0.1" targetFramework="net461" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net461" />
  <package id="System.Diagnostics.Process" version="4.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Diagnostics.TraceSource" version="4.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Globalization.Calendars" version="4.0.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.IO.FileSystem" version="4.0.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.IO.FileSystem.Primitives" version="4.0.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.IO.UnmanagedMemoryStream" version="4.0.1" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Linq.Parallel" version="4.0.1" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Net.Sockets" version="4.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net461" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.0.1" targetFramework="net461" />
  <package id="System.Reflection.TypeExtensions" version="4.1.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Runtime.InteropServices" version="4.0.10" targetFramework="net461" />
  <package id="System.Runtime.Numerics" version="4.0.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.2.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Cryptography.Primitives" version="4.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Text.RegularExpressions" version="4.1.0" targetFramework="net461" />
  <package id="System.Threading" version="4.0.11" targetFramework="net461" />
  <package id="System.Threading.Tasks.Parallel" version="4.0.1" targetFramework="net461" />
  <package id="System.Threading.Thread" version="4.0.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Threading.Timer" version="4.0.1" targetFramework="net461" />
</packages>